<div class="col-xs-10 col-xs-offset-1 panel">
  <h1>My Profile</h1>
  <p><%= @user.email %></p>
  <p>Member since: <%= @user.created_at.strftime("%B %d, %Y") %></p>
  <p>Total comments: <%= @user.comments.count %></p>
  <p>5 star reviews: <%= @user.comments.where(rating: '5_stars').count %></p>
</div>
