@import "bootstrap-sprockets";

@import "custom_variables";

@import "bootswatch/paper/variables";

@import "bootstrap";

@import "bootswatch/paper/bootswatch";

body {
  background: #EEEEEE;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $lora;
  margin: 0;
  padding: 0;
}

.navbar-default {
  background: darken($orange, 5%);
  .navbar-brand {
    font-family: $pacifico;
    color: rgba(white,.9);
    &:hover {
      color: rgba(white,.75);
    }
  }
  .navbar-toggle {
    border-color: rgba(white,0);
    .icon-bar {
      background-color: rgba(white, .9);
      transition: .3s ease-out;
    }
    &:hover {
      background: none;
      .icon-bar {
        background-color: rgba(white, .75);
      }
    }
  }
  .navbar-nav > li > a {
    color: rgba(white, .9);
    transition: .3s ease-out;
    &:hover {
      color: rgba(white, .75);
    }
  }
}

.panel {
  padding: 1em 1.25em;
  h2, p, i {
    color: rgba(black, .85);
    transition: .3s ease-out;
  }
}

.panel-active {
  padding: 1em 1.25em 0;
  transition: .3s ease-out;
  .btn-text {
    color: $orange;
  }
  &:hover {
    box-shadow: 0 3px 9px rgba(0,0,0,.3);
    h2, p, i {
      color: rgba(black, .7);
    }
    .btn-text{
      color: lighten($orange, 15%);
    }
  }
  &:active {
    box-shadow: 0 0 2px rgba(0,0,0,.3);
  }
}

.pagination {
  display: flex;
  justify-content: center;
}

form {
  * {
    padding: .5em 0;
    label {
      display: block;
    }
    &:focus {
      outline:none;
    }
  }
  textarea {
    resize: none;
  }
  #place_name, #place_address {
    width: 50%;
  }
  #place_description {
    width: 75%;
  }
  #comment_rating {
    width: 25%;
    background-color: rgba(black,0);
    &:hover{
      cursor: pointer;
    }
  }
}

.alert {
  border-radius: 0;
  margin-top: -23px;
}

.field_with_errors {
  input, textarea {
    box-shadow: inset 0 -2px 0 red;
  }
  .error {
    padding-left: 3px;
    color: red;
  }
}

#map {
  height: 300px;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  max-height: 300px;
}

.carousel-indicators {
  bottom: -40px;
  li, .active {
    width: 12px;
    height: 12px;
    margin: 0 15px;
  }
  li {
    background-color: rgba(black,.25);
  }
  .active {
    background-color: $orange;
  }
}

.carousel-caption  {
  padding-bottom: 0;
}

::selection {
  background: rgba($orange,.75);
  color: white;
}

.user-avatar {
  opacity: .7;
}
