@import "bootstrap-sprockets";

@import "custom_variables";

@import "bootswatch/paper/variables";

@import "bootstrap";

@import "bootswatch/paper/bootswatch";

body {
  background: url('/assets/concrete_seamless.png');
}

h1, h2, h3, h4, h5, h6 {
  font-family: $lora;
  margin: 0;
  padding: 0;
}

// p, li, i {
//   font-family: $raleway;
// }
//
// .navbar.navbar-inverse {
//   background: lighten(black,15%);
//   border: none;
//   border-radius: 0;
//   box-shadow: 0 0 .5em rgba(0, 0, 0, .14), 0 .5em 1em rgba(0, 0, 0, .28);
//   //box-shadow: 0 .2em 1em .5em rgba(0,0,0,.5),0 .1em .5em .25em rgba(0,0,0,.4);
// }

.navbar-default {
  .navbar-brand {
    font-family: $pacifico;
    color: $orange;
    &:hover {
      color: lighten($orange, 15%);
    }
  }
  .navbar-toggle {
    border-color: rgba(black,0);
    .icon-bar {
      background-color: rgba(black, .85);
      transition: .3s ease-out;
    }
    &:hover {
      background: none;
      .icon-bar {
        background-color: rgba(black, .5);
      }
    }
  }
  .navbar-nav > li > a {
    color: rgba(black, .85);
    transition: .3s ease-out;
    &:hover {
      color: rgba(black, .5);
    }
  }
}

.panel {
  padding: 1em 1.25em;
}

.pagination {
  display: flex;
  justify-content: center;
}

form {
  * {
    padding: .5em 0;
    label {
      display: block;
    }
    &:focus {
      outline:none;
    }
  }
  textarea {
    resize: none;
  }
  #place_name, #place_address {
    width: 50%;
  }
  #place_description {
    width: 75%;
  }
  #comment_rating {
    width: 25%;
    background-color: rgba(black,0);
    &:hover{
      cursor: pointer;
    }
  }
}

.alert {
  border-radius: 0;
  margin-top: -23px;
}

.field_with_errors {
  input, textarea {
    box-shadow: inset 0 -2px 0 red;
  }
  .error {
    padding-left: 3px;
    color: red;
  }
}

#map {
  height: 300px;
}

#carousel-places {
  height: 200px;
}

.carousel-inner .item img {
  height: 200px;
}

::selection {
  background: rgba($orange,.75);
  color: white;
}
