<div class="col-xs-10 col-xs-offset-1 panel">
  <h2><%= @place.name %></h2>
  <i><%= @place.address %></i>
  <br>
  <p><%= @place.description %></p>
  <div class="pull-right">
    <%= link_to 'Edit', edit_place_path(@place) %>
  </div>
</div>
